<launch>
  <!-- Run the robot nodes to support RealSense depth camera calibration. -->
  <!-- EQUIVALENTLY just run the regular system, including the RealSense. -->

  <!-- URDF parameter. -->
  <arg name="urdf"  default="bot.urdf"/>
  <arg name="model" default="$(find bot_description)/urdf/$(arg urdf)"/>

  <!-- Image topic parameter. -->
  <arg name="topic" default="/camera/depth/image_overlaid"/>


  <!-- Load the URDF file into the robot_description parameter. -->
  <param name="robot_description" textfile="$(arg model)"/>


  <!-- Start the RealSense. This is *not* enabling the pointcloud -->
  <!-- and running the depth/color at 15Hz to lower the load.     -->
  <!-- The default image settings are: -->
  <!--   Depth  848 x 480 @ 30Hz       -->
  <!--   Color  640 x 480 @ 30Hz       -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="depth_width"       value="848"/>
    <arg name="depth_height"      value="480"/>
    <arg name="depth_fps"         value="15"/>

    <arg name="color_width"       value="640"/>
    <arg name="color_height"      value="480"/>
    <arg name="color_fps"         value="15"/>

    <arg name="enable_pointcloud"        value="false"/>
    <arg name="allow_no_texture_points"  value="true"/>

    <!-- Replace RS2_STREAM_COLOR with RS_STREAM_ANY to -->
    <!-- create the pointcloud without the RGB colors.  -->
    <arg name="pointcloud_texture_stream" default="RS2_STREAM_COLOR"/>
  </include>

  <!-- Also publish all robot transforms, to access the URDF info. -->
  <node name="robot_state_publisher"
	pkg ="robot_state_publisher"
  	type="robot_state_publisher"/>

  <!-- And open rqt (with the desired ImageView plugin). -->
  <node name="rqt"
	pkg ="rqt_gui"
  	type="rqt_gui"
	args="-ht -l -f -s rqt_image_view/ImageView --args $(arg topic)"/>
</launch>
